/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Material+Icons|Material+Icons+Outlined');

$dark-grey: #2c2c2c;
$white: #f2f2f2f2;
$darkest-gray: #202020;
$red: #e83f5b;
$green: #4cd62b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $darkest-gray;
}

.msg-error {
  background-color: $red;
  color: $white;
}

.msg-success {
  background-color: $green;
  color: $white;
}

@media screen and (min-width: 768px) {
  body {
    background-color: $darkest-gray;
    background-image: url(./assets/img/logo.svg);
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position-x: calc(100% - 20px);
    background-position-y: 15rem;
    animation: backgroundFadeIn 2s;
  }
  @keyframes backgroundFadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
